/********** Template CSS **********/
:root {
    --primary: #59A54F;
    --secondary: #6ac05e;
    --light: #F4F7FE;
    --dark: #000;
}

html{
    scroll-behavior: smooth !important;
}
body{
    background: #010500 !important;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.post-entry-sidebar ul{
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}
.post-entry-sidebar li{
    margin: 20px 0;
}
b{
    font-weight: 800 !important;
    color: #f5f5f5;
}
.post-content-body{
    margin-right: 50px;
}
.post-content-body h3, .post-content-body h4{
    margin-bottom: 20px;
    color: #fff !important;
}
.post-content-body p{
    margin-bottom: 55px !important;
    color: #c2c2c2;
}

/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}
.border-primary{
    background: #59a54f2f !important;
    padding: 10px;
    border: 2px solid #92DF9F99 !important;
    color: #fff !important;
    border-radius: 10px !important;
}
.border-primary h5{
    color: #fff !important;
}

.text-primary{
    color: #fff !important;
}
.lh-base{
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar {
    padding: 11px 0 !important;
    
    
}

.navbar .navbar-nav .nav-link {
    margin-right: 10px;
    padding: 0;
    color: rgba(255, 255, 255, .7);
    outline: none;
    padding: 8px 20px;
    border-radius: 50px;
    border: 2px solid #59A54F00;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #fff;
    background: #59A54F50;
    border: 2px solid #92DF9F99;
    box-shadow: 0 0 15px #ffffff20;
}

.bg-primary {
    background: #000;
}
.dropdown-menu{
    overflow: hidden !important;
    border: 2px solid #92DF9F99 !important;
    border-radius: 20px;
    width: 200px;
}
.dropdown-menu a {
    color: #ffffff99;
    padding: 10px;
    transition: .3s ease all;
}
.dropdown-menu a:hover{
    background: #92DF9F00;
    color: #fff;
    text-shadow: 0 0 12px #fff;
}


.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .breadcrumb{
        display: none !important;
    }
    .views-container{
        margin-bottom: 50px;
    }
    .post-content-body{
        
        width: 100% !important;
    }
    .sticky-effectox {
            position: relative !important;
            top: 0 !important;
            background: #01490d00 !important;
            border: 2px solid #92DF9F00 !important;
            
    
            border-radius: 10px;
        }
    .navbar .navbar-nav {
        padding: 0 15px;
        
    }

        .navbar .navbar-nav .nav-link.active{
            text-align: center;
        }
        .nav-link{
            text-align: center;
            margin: 5px 0;
            color: #fff;
            background: #2a4e2550;
            border: 2px solid #ffffff30 !important;
            
        }
        .dropdown-menu{
            width: 100%;
            text-align: center;
        }
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Hero Header ***/
.hero-header {
    margin-top: -130px;
    background: #000;
    background-size: cover;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.views-container{
    margin-top: 25px;
}
.views-container span{
    color: #f5f5f5;
    font-weight: 800 !important;
    font-size: 13px ;
}
.about-b{
    border-left:5px solid #92df9f90;
    padding: 8px;
}
/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}



/*** About ***/
.about-img {
    position: relative;
    overflow: hidden;
}
.sticky-effectox{
    position: sticky;
    top: 150px;
    background: #01490d83;
    border: 2px solid #92DF9F99;
    padding: 15px;
    
    border-radius: 10px;
}
.btn-primary{
    background: #ffffff !important;
    border: 2px solid #fff !important;
    color: #000 !important;
}

.pill-skill{
    background: #01490d83 !important;
    border: 2px solid #92DF9F99 !important;
    color: #fff !important;
    box-shadow: 0 0 50px #92DF9F99;
}
.sticky-effectox h1{
    color: #fff !important;
}
.sticky-effectox p{
    color: #f5f5f5;
}
.text-white h1{
    color: #fff !important;
}
.text-white p{
    color: #f5f5f5e7;
}
/* .about-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/bg-about-img.png) top left no-repeat;
    background-size: contain;
} */


/*** Service ***/
.service-item {
    position: relative;
    padding: 45px 30px;
    background: #01490d83;
    border: 2px solid #92DF9F99;
    transition: .5s;
    color: #fff !important;
}

.service-item:hover {
    background: #052e00;
}

.service-item .service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    margin: 0 auto 20px auto;
    width: 155px;
    height: 155px;
    color: var(--primary);
    background: #ffffff50;
    transition: .5s;
}
.service-item .service-icon img{
    border-radius: 11px;
}

.service-item:hover .service-icon {
    background: #FFFFFF;
}

.service-item h5,
.service-item p {
    transition: .5s;
    color: #fff;
}

.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF;
}

.service-item a.btn {
    position: relative;
    display: flex;
    color: #fff;
    transition: .5s;
    z-index: 1;
}

.service-item:hover a.btn {
    color: #000;
    font-weight: 800;
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 35px;
    bottom: 0;
    left: 0;
    border-radius: 35px;
    background: #0f3000;
    transition: .5s;
    z-index: -1;
}

.service-item:hover a.btn::before {
    width: 100%;
    height: 35px;
    
    background: #d9dfd7;
}


/*** Feature ***/
.feature {
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
}


/*** Newsletter ***/
.newsletter {
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
}

@media (min-width: 992px) {
    .newsletter .container {
        max-width: 100% !important;
    }

    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Case Study ***/
.case-item img {
    transition: .5s;
}
  
.case-item:hover img {
    transform: scale(1.2);
}
  
.case-overlay {
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: linear-gradient(rgba(20, 24, 62, 0), rgb(0, 0, 0));
    z-index: 1;
}

.case-overlay small {
    display: none;

    padding: 3px 15px;
    color: #fff;
    background: rgba(0, 0, 0, 0.726);
    border-radius: 25px;
    margin-bottom: 15px;
}

.case-overlay span.btn:hover {
    color: var(--primary);
    background: #FFFFFF;
    border-color: #FFFFFF;
}


/*** FAQs ***/
.accordion .accordion-item {
    border: none;
    background: #ffffff20;
    color: #fff !important;
    margin-bottom: 15px;
}

.accordion .accordion-button {
    background: #ffffff20;
    color: #fff;
    border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background: #59A54F;
    box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
    color: #fff !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
    padding: 15px ;
   
}


/*** Testimonial ***/
.testimonial-carousel {
    position: relative;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 40px;
    height: 100%;
    top: calc(50% - 50px);
    left: -21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 5px 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    border: 1px solid var(--primary);
    border-radius: 40px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: #FFFFFF;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px;
    margin-left: 3rem;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}


/*** Team ***/
.team-item {
    transition: .5s;
    border: 1px solid transparent;
    transition: .5s;
}

.team-item:hover {

    border-color: var(--primary);
}


/*** Footer ***/
.footer {
    background: url(../img/footer.png) center center no-repeat;
    background-size: contain;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,.5);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: #fff;
    background: #6ac05e50;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,.5);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: #FFFFFF;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: rgba(255,255,255,.5);
}

.footer .copyright a:hover {
    color: #FFFFFF;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.bg-darkorbit{
    position: relative;
    background: url(https://images.unsplash.com/photo-1512957610500-a64cba49526a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.bg-darkorbit::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, #010500, #01050080, #010500);
}

.bg-primarybit{
    position: relative;
    background: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.cate a{
    color: #7fe471;
}
.bg-primarybit::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #010500;
}
.bg-primarybit h1{
    color: #fff;
}





@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.client-slider {
    background: #010500;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.client-slider::before,
.client-slider::after {
    background: -webkit-gradient(linear, left top, right top, from(#010500), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, #010500 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.client-slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.client-slider::before {
    left: 0;
    top: 0;
}

.client-slider .client-slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: -webkit-box;
    display: flex;
    width: calc(250px * 14);
}

.client-slider .client-slide {
    height: 100%;
    width: 250px;
}

.client-slide img{
    filter: grayscale(1);
    opacity: 0.7;
    transition: .3s ease all;
}
.client-slide img:hover{
    filter: grayscale(0);
    opacity: 1;
}

.hero-header input {
    background: #000 !important;
    border: 1px solid #ffffff50 !important;
    color: #f5f5f5 !important;
    
}
.hero-header input:hover, .hero-header textarea:hover{
  background: #000 !important;
    border: 1px solid #59A54F !important;
    color: #f5f5f5 !important;  
}
.hero-header input:focus, .hero-header textarea:focus{
  background: #000 !important;
    border: 1px solid #59A54F !important;
    color: #f5f5f5 !important;
    box-shadow: none !important;  
}
.hero-header textarea{
    background: #000000 !important;
    color: #f5f5f5 !important;
    border: 1px solid #ffffff50 !important;
}

.form-floating label{
    color: #8d8d8d !important;
}
.btn-dark{
    background: #000000 !important;
    color: #f5f5f5 !important;
    border: 1px solid #ffffff50 !important;
}

@media screen and (max-width:992px){
    .newsletter img {
            display: none !important;
        }
    .newsletter-text{
        width: 100%;
    }   
    .mobile-delete{
        display: none !important;
    }
}

.cap-alt{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background: #59a54f1c;
    padding: 15px;
    min-height: 150px;
}
.capbor{
    padding: 0 !important;
    border: 3px solid #59A54F99;
    border-radius: 11px;
}

